.typewriter-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 0;
    animation: typewriter 15s steps(59) infinite alternate, blinkingCursor 2s steps(50) infinite normal;
  }
  
  @keyframes typewriter {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
  }
  
  @keyframes blinkingCursor {
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent; }
  }
  